body {
    margin: 0;
    z-index: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'NanumSquare', light;
}
/* box-size 에 padding, border 을 포함*/
* {
    box-sizing: border-box;
}
@font-face{
    font-family:"NanumSquare"; /*폰트 패밀리 이름 추가*/
    src:url(../NanumSquareRegular.ttf); /*폰트 파일 주소*/
}


/*-----------------------------------header-------------------------------------*/
header {
    z-index:50;
    position: fixed;
    width: 100%;
    height: 44px;
    border: 1px solid #E7E7E7;
    padding: 5px 0 5px 0;
    background-color: #FFFFFF;
    text-align: center;
}
.header-logo {
    position: absolute;
    display: block;
    height: 32px;
    top: 0;
    left: calc(50% - 46px);
    padding-top: 5px;
}
.logo-image {
    height: 32px;
    width: 93px;
}
.user {
    position: absolute;
    top: 4px;
    right: 20px;
}
.user-box {
    display: block;
    float: left;
    height: 34px;
    padding-right: 8px;
}
.text {
    padding: 6px 8px 4px 0;
}
.user-name {
    height:34px;
}
.user-image {
    width:34px;
    height:34px;
}
/* --------------------------------sub header(search bar)------------------------------------- */

.sub-header {
    z-index:50;
    position: fixed;
    float:left;
    top:44px;
    width: 100%;
    height: 44px;
    padding: 2px 0 2px 0;
    background-color: #FFFFFF;
    text-align: center;
}
.search-bar {
    position: absolute;
    top: 0;
    left: calc(50% - 170px);
}
.search-bar input[type=text] {
    width: 340px;
    height: 36px;
    margin: 4px 0 4px 0;
    background-color: #FAFAFA;
    border: 1px solid #E7E7E7;
    border-radius: 5px;
    padding: 7px;
}
/* --------------------------------side menu(board list)------------------------------------- */
.side-menu {

    height: 100%;
    width: 34%;
    /*min-width: 360px;*/
    padding: calc(88px + 5%) 0 0 11%;
}
.side-menu-container {
    position: fixed;
    padding:0;
    width: 360px;
    height: 100%;
    min-width: 300px;
}
.side-menu-container button {
    width: 182px;
    height: 36px;
    padding: 0;
    border:0;
    background-color:rgba(0,0,0,0);
    cursor:pointer;
}
.button-img-wrap {
    display:inline-block;
    width:35px;
    height: 35px;
    padding:10px;
    border-radius:5px;
    background-color: #EAEAEA;
}
.side-menu-container img {
    width: 15px;
    height: 15px;
}
.side-menu-container button span {
    display:inline-block;
    font-family: 'NanumSquare', Regular;
    font-size: 20px;
    margin: 0 0 0 12px;
}
#board-list span {
    font-family: 'NanumSquare', Regular;
    font-size: 20px;
}
.modal-header-name {
    display: block;
    font-family:"NanumSquare Bold";
    font-size: 30px;
    color: #707070;
}
.modal-close-button {
    position:absolute;
    width: 20px;
    height:20px;
    cursor:pointer;
}
#create-board-modal {
    display: none;
    position:fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}
#create-board-modal-contents {
    position: fixed;
    top: calc(50% - 300px);
    left: calc(50% - 400px);
    width: 800px;
    height: 600px;
    border: 1px solid #707070;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1), 1px 1px 10px 0 rgba(0, 0, 0, 0.24);
}
.create-board-modal-header span {
    margin: 20px 0 20px 34px;
}
.create-board-close-button {
    top: 48px;
    right: 49px;
}
.create-board-container-name {
    margin: 35px 0 5px 89px;
}
#create-board-name {
    width: 617px;
    height: 40px;
    margin: 0 0 0 89px;
    border: 0;
    border-bottom: 1px solid #E7E7E7;
    padding-left: 14px;
    font-family:"NanumSquare Regular";
    font-size: 20px;
    color: #B5B5B5;
}
.container-span {
    display: block;
    font-family:"NanumSquare Regular";
    font-size: 20px;
    color: #707070;
}
.create-board-container-bg {
    margin: 40px 0 23px 89px;
}
.color-button-container {
    padding: 0 100px 0 145px;
}
.color-button-container li {
    display:inline-block;
    margin: 0 30px 0 0;
}
.board-color-button {
    display:inline-block;
    width: 50px;
    height: 50px;
    margin: 0 30px 0 0;
    border: 0;
    border-radius: 5px;
}
.invite-user-span {
    margin: 42px 0 19px 89px;
}
.invite-user-name {
    border: 1px solid #E7E7E7;
    border-radius: 5px;
    background-color: #FAFAFA;
    width: 470px;
    height: 50px;
    margin-left: 122px;
    padding-left: 15px
}
.invite-user-button {
    position: absolute;
    top: 417px;
    right: 108px;
    background: #ACACAC;
    width: 88px;
    height: 50px;
    border: 1px solid #E7E7E7;
    border-radius: 3px;
    font-family:"NanumSquare Regular";
    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
}
.create-board-button {
    position:absolute;
    background: #707070;
    width: 250px;
    height: 50px;
    bottom: 35px;
    left: calc(50% - 125px);
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
}
.d-day {
    z-index: 1;
    padding: calc(88px + 5%) 0 0 0;
    height: 100%;
    width: 32%;
    min-width: 360px;
}
.today {
    z-index: -1;
    position: absolute;
    left: calc(50% - 300px);
    width:600px;
    height: 320px;
    padding: 40px;
    margin: 0 0 53px 0;
    text-align: center;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1), 1px 1px 10px 0 rgba(0, 0, 0, 0.16);
}
.today-shadow {
    z-index:-1;
    position:absolute;
    top:51px;
    left:calc(50% - 49px);
    width: 104px;
    height: 28px;
    background-color: #EFCE4A;
}
.today li {
    margin-bottom: 53px;
}
.today .today-header {
    font-family:"NanumSquare Regular";
    font-size: 33px;
}
.today .today-card-name {
    font-family:"NanumSquare Bold";
    font-size: 35px;
}
.today .today-date {
    font-family:"NanumSquare Light";
    font-size: 25px;
}
.d-day-list {
    position: absolute;
    top: 500px;
    left: calc(50% - 300px);
    width:600px;
    height: 100%;
    padding: 0;
    margin:0;
}
.card-list {
    position: relative;
    width:600px;
    height: 300px;
    padding: 30px 50px 0 50px;
    margin:0 0 30px 0;
    background-color: #FAFAFA;
    opacity: 0.82;
    border:0;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1), 1px 1px 10px 0 rgba(0, 0, 0, 0.16);
}
.card-header {
    width: 500px;
    height: 27px;
}
.board-name {
    font-family:"NanumSquare Regular";
    font-size: 25px;
}
.colon {
    font-family:"NanumSquare Regular";
    font-size: 25px;
}
.list-name {
    display: inline-block;
    width: 296px;
    font-family:"NanumSquare Regular";
    font-size: 25px;
}
.d-day-number {
    font-family:"NanumSquare Bold";
    font-size: 22px;
    color: #F02E0B;
}
.card-contents {
    width:500px;
    height: 111px;
    padding: 17px 0 23px 24px;
    margin:20px 0 30px 0;
    border:0;
    border-radius: 5px;
    background-color: #FFFFFF;
}
.card-name {
    display: block;
    margin: 0 0 18px 0;
    font-family:"NanumSquare Bold";
    font-size: 22px;
    color: #707070;
}
.card-duedate {
    display: block;
    font-family:"NanumSquare Light";
    font-size: 22px;
    color: #707070;
}
.card-list button {
    position: absolute;
    width:300px;
    height: 80px;
    padding: 0;
    margin:0;
    background-color: #FFFFFF;
    font-family:"NanumSquare Regular";
    font-size: 25px;
    color:#707070;
}
.done-button {
    top:220px;
    left: 0;
    border:0;
    border-right: 1px solid #F6F6F6;
    border-bottom-left-radius: 5px;
}
.hide-button {
    top:220px;
    right: 0;
    border:0;
    border-left: 1px solid #F6F6F6;
    border-bottom-right-radius: 5px;
}
.calendar-section {
    z-index: -1;
    height: 100%;
    width: 34%;
    padding:calc(88px + 5%) 8% 0 0;
}
#calendar-wrapper {
    position: fixed;
    right:calc(88px + 5%);
    width: 380px;
    height: 380px;
    padding: 22px 42px 22px 42px;
    border:0;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1), 1px 1px 10px 0 rgba(0, 0, 0, 0.16);
    background-color: #FFFFFF;
}

.float {
    float: left;
}

/* 브라우저 별 호환성 확인 */
.search-bar input::placeholder  {
    color: #707070;
    font-size: 16px;
    text-align: center;
    background: url(/image/search.png) no-repeat;
    background-size: 18px 18px;
    background-position: 130px 0;
}
#board-list {
    margin: 0 0 30px 0;
}
#board-list li {
    margin: 0 0 15px 0;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style-type: none;
    padding: 0;

}

#create-board-modal-contents .container input::placeholder {
    font-family:"NanumSquare Regular";
    font-size: 20px;
    color: #B5B5B5;
    background: url(/image/user_male_black_shape.png) no-repeat;
    background-size: 18px 18px;
    background-position: 0 3px;
}
a:link, a:visited {
    color: initial;
    text-decoration: none;
    cursor: pointer;
}

a:link:active, a:visited:active {
    color: initial;
}


